table {
       background-color: green;
       height: 80px;
       width: 900px;
       font-size: 19px;
}

#st {
       color: red;
       background-color: gold;
}

@media screen and (min-width: 30px) and (max-width: 567px) {
       table {
              width: 100%;
       }    
       
}