* {
  margin: 2px;
  padding: 0px;
  border-radius: 3px;
}


#font {
  color: blue;
  font-family:Tahoma;
  font-size: 30px;
  animation: myani 5s infinite;
}

span {
  color: brown;
  font-size: 20px;
  font-family: Copperplate, Papyrus, fantasy;
  animation: myani 5s infinite;
  margin-top: -20px;
  
}


@keyframes myani {
  from {color: red;}
  to {color: blue;}
}


.nav-bar {
  background-color: rgb(27, 25, 25);
  border-radius: 5px;
  height: 40px;
  width: 1525px;
  display: block;
  margin-top: -20px;
}

.nav-bar i {
  margin-top: 7px;
  color: white;
  float: left;
  font-size: 20px;
  margin-left: 30px;
  
}

.nav-bar i:hover {
  cursor: pointer;
  border: 2px solid white;
  color: yellow;
}

.nav-bar h1 {
  margin-left: 50px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: yellow;
}

.nav-bar p {
  color: yellow;
  float: left;
  text-align: center;
  font-size: 30px;
}

@media screen and (min-width:123px) and (max-width: 567px) {
  .nav-bar {
    width: 100%;
  }



}